* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Better text styling */
    font-family: Arial, sans-serif;
    transition: all 0.2s ease-in-out;
}
$clear: #E4572E;
$equalsHover: #06A77D;
$keys: #005377;
$equals: #686868;
$background: #FDCD00;
/* Finally adding some IE9 fallbacks for gradients to finish things up */
/* A nice BG gradient */
html {
    height: 100%;
    background: white;
    background: radial-gradient(circle, #fff 20%, #ccc);
    background-size: cover;
}

body {
    background: #4DA0B0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4DA0B0 , $background);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4DA0B0 , $background);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.revert {
    position: relative;
    display: inline;
    border-radius: 5px;
    width: 10vw;
    text-align: center;
    padding: 2px 7px;
}
/* Using box shadows to create 3D effects */
#calculator {
    height: auto;
    // margin: 100px auto;
    padding: 20px 20px 9px;
    width: 100%;
    background: linear-gradient(rgba(177, 177, 177, .9),rgba(177, 177, 177, .4));
    border-radius: 5px;
    // box-shadow: 0 4px darken(rgba(177, 177, 177, .9), 10%), 0 10px 15px rgba(0, 0, 0, 0.2);
}

#header {
    text-align: center;
    color: $equals;
    margin-bottom: 2vh;
    display: inline;
}

h1 {
    padding-bottom: 1vh;
    font-size: 2.5vh;
}

h2 {
    padding-bottom: 1vh;
}
/* Top portion */
.top {
    margin-bottom: 2vh;

    span.clear {
        float: left;
        height: 8vh;
        line-height: 8vh;
    }
}
/* Inset shadow on the screen to create indent */
.top .display {
    height: 8vh;
    width: 70%;
    float: right;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0 4px rgba(0, 0, 0, 0.2);
    margin-right: 2.5%;
    /* Typography */
    line-height: 8vh;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    letter-spacing: 1px;

    .screen {
        font-size: 6vh;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
/* Clear floats */
.keys,
.top {
    overflow: hidden;
}
/* Applying same to the keys */
.keys {
    z-index: 10;
    overflow: visible;
    transition: all 1s ease-in-out;
}

.keys span {
    z-index: 20;
    height: 6vh;
    line-height: 6vh;
}

.keys span,
.top span.clear {
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    width: 20%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    margin: 0 2.5% 7%;
    color: #888;
    text-align: center;
    /* prevent selection of text inside keys */
    user-select: none;
    /* Smoothing out hover and active states using css3 transitions */
    font-size: 4vh;
}
/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
    background: #FFF0F5;
    margin-right: 0;
}

.revert {
    background: $background;
    box-shadow: 0 2px darken($background, 7%);
}

.keys span.eval {
    background: $equals;
    box-shadow: 0 4px darken($equals, 7%);
    color: $equalsHover;
}

.top span.clear {
    background: $clear;
    box-shadow: 0 4px darken($clear, 7%);
    color: white;
}
/* Some hover effects */
.keys span:hover {
    background: $keys;
    box-shadow: 0 4px darken($keys, 7%);
    color: white;
}

.keys span.eval:hover {
    background: $equalsHover;
    box-shadow: 0 4px darken($equalsHover, 7%);
    color: #ffffff;
}

.top span.clear:hover {
    background: lighten($clear, 7%);
    box-shadow: 0 4px $clear;
    color: white;
}

.revert:hover {
    background: lighten($background, 7%);
    box-shadow: 0 2px $background;
}
/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
    box-shadow: 0 0 $keys;
    top: 4px;
    border-radius: 5px;
}

.keys span.eval:active {
    box-shadow: 0 0 $equalsHover;
    top: 4px;
}

.top span.clear:active {
    top: 4px;
    box-shadow: 0 0 $clear;
}

.revert:active {
    box-shadow: 0 0 $background;
    top: 2px;
    border-radius: 5px;
}
@media all and (min-width: 1px) {
    .keys span {
        margin: 0 2.5% 3%;
    }

    #calculator {
        max-width: 100vw;
    }
}
@media all and (min-width: 600px) {
    .keys span {
        margin: 0 2.5% 7%;
    }

    #calculator {
        max-width: 100vw;
    }
}
@media all and (min-width: 800px) {

    #calculator {
        max-width: 80vw;
    }
}
@media all and (min-width: 1000px) {
    .keys span {
        margin: 0 2.5% 3%;
    }

}
@media all and (min-width: 1200px) {


    #calculator {
        max-width: 70vw;
    }
}
@media all and (min-width: 1400px) {

    #calculator {
        max-width: 60vw;
    }
}
